* {
    border: 1px solid red !important;
    font-family: 'Lato', sans-serif;
}

* {
    --webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 70%;
}

.name {
    text-align: right;
    margin: 0 auto;
    font-weight: 500;
}

#big-img {
    padding-: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.app-img {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.links {
    text-align: center;
}

.heading {
    border-bottom: 3px solid #bcbbbb;
}

.designation{
    text-align: right;
    margin: 0 auto;
    font-weight: 500;
    color: black;
    font-size: 12px;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: 400;
    color : #bcbbbb;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    color: #747704;
    font-size: 19px;
    font-weight: inherit;
}

img {
    display: block;
}

a {
  text-decoration: none;
}

.row {
    width: 100%;
    display: flex;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

hr {
    display: block;
    border: 1px solid;
    color: #BCBBBB;
}

